In [1]:
#import library

import pickle
import json
import pandas as pd
import numpy as np

In [2]:
with open('list_cat_cols.txt', 'r') as file_1:
  list_cat_col = json.load(file_1)

with open('list_num_cols.txt', 'r') as file_2:
  list_num_col = json.load(file_2)

with open('encoder.pkl', 'rb') as file_3:
  model_encoder = pickle.load(file_3)

with open('scaler.pkl', 'rb') as file_4:
  model_scaler = pickle.load(file_4)

with open('model_lin_reg.pkl', 'rb') as file_5:
  model_lin_reg = pickle.load(file_5)

In [3]:
#Create new data
#Gunakan keseluruhan data

data_inf = {'age': 20,
             'sex':'male',
             'bmi': 20,
             'children': 0,
             'smoker':'no',
             'region':'northeast'
}


data_inf = pd.DataFrame([data_inf])
data_inf

   age   sex  bmi  children smoker     region
0   20  male   20         0     no  northeast

In [4]:
#split between numerical and categorical columns
data_inf_num = data_inf[list_num_col]
data_inf_cat = data_inf[list_cat_col]
data_inf_num

   age  bmi
0   20   20

In [5]:
#feature scaling and encoding
data_inf_num_scaled = model_scaler.transform(data_inf_num)
data_inf_cat_encoded = model_encoder.transform(data_inf_cat)
data_inf_final = np.concatenate([data_inf_num_scaled, data_inf_cat_encoded], axis = 1)

In [6]:
#predict using linear reg model
y_pred_inf = model_lin_reg.predict(data_inf_final)
y_pred_inf

array([-291.3210969])