```
============================================================================
Graded Challenge 6 Clustering

Nama  : Achmed Alridho Zulkarnaen
Batch : RMT-037

File ipynb ini berisikan inference untuk pengujian hasil pembuatan cluster nasabah pada bank ABC, nantinya inference ini akan memprediksi nasabah baru akan masuk ke cluster mana
============================================================================
```

# **I. Import Libraries**

In [1]:
# Import Libraries
import json
import pickle
import pandas as pd

# **II. Data Loading**

In [2]:
# Load list of numerical columns
with open('list_num_cols.txt', 'r') as file_1:
    num_cols = json.load(file_1)
# Load scaler
with open('scaler.pkl', 'rb') as file_2:
    scaler = pickle.load(file_2)
# Load PCA
with open('pca.pkl', 'rb') as file_3:
    pca = pickle.load(file_3)
# Load KMeans model
with open('kmeans.pkl', 'rb') as file_4:
    km = pickle.load(file_4)
print("Model berhasil di load")

Model berhasil di load

# **III. Data Inference**

In [3]:
data_inf = {
    'CUST_ID': 9999,
    'BALANCE': 20000,
    'BALANCE_FREQUENCY': 0.9,
    'PURCHASES': 500,
    'ONEOFF_PURCHASES': 300,
    'INSTALLMENTS_PURCHASES': 200,
    'CASH_ADVANCE': 0,
    'PURCHASES_FREQUENCY': 0.9,
    'ONEOFF_PURCHASES_FREQUENCY': 0.4,
    'PURCHASES_INSTALLMENTS_FREQUENCY': 0.5,
    'CASH_ADVANCE_FREQUENCY': 0,
    'CASH_ADVANCE_TRX': 0,
    'PURCHASES_TRX': 10,
    'CREDIT_LIMIT': 15000,
    'PAYMENTS': 1000,
    'MINIMUM_PAYMENTS': 200,
    'PRC_FULL_PAYMENT': 0.1,
    'TENURE': 12
}

# Membuat DataFrame inference
data_inf = pd.DataFrame([data_inf])
data_inf

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,9999,20000,0.9,500,300,200,0,0.9,0.4,0.5,0,0,10,15000,1000,200,0.1,12

# **IV. Predict**

In [4]:
def predict(data):
    """
    Fungsi ini melakukan preprocessing pada data input, termasuk scaling dan PCA,
    kemudian memberikan prediksi cluster dan label deskripsi nasabah.
    """
    # Pilih kolom numerik
    data_num = data[num_cols].copy()
    # Isi nilai NaN dengan 0
    data_num = data_num.fillna(0)
    # Scaling data
    data_scaled = scaler.transform(data_num)
    # Aplikasi PCA
    data_pca = pca.transform(data_scaled)
    # Prediksi cluster
    cluster_prediction = km.predict(data_pca)[0]  # Mengambil hasil prediksi pertama (satu baris data)
    # Berikan label berdasarkan prediksi cluster
    if cluster_prediction == 3:
        label = "Nasabah Premium"
    elif cluster_prediction == 2:
        label = "Nasabah Regular"
    elif cluster_prediction == 0:
        label = "Nasabah Pasif"
    elif cluster_prediction == 1:
        label = "Nasabah Berisiko"
    else:
        label = "Cluster Tidak Dikenali"
    return cluster_prediction, label

In [5]:
# Predict:
cluster, result = predict(data_inf)
print(f"Nasabah Cluster: {cluster}\nHasil Prediksi: {result}")

Nasabah Cluster: 3
Hasil Prediksi: Nasabah Premium