# **I. Import Library**

In [1]:
import pickle
import json
import pandas as pd
import numpy as np

# **II. Load Model**

In [2]:
with open('list_cat_cols.txt', 'r') as file_1:
  list_cat_col = json.load(file_1)

with open('list_num_cols.txt', 'r') as file_2:
  list_num_col = json.load(file_2)

with open('encoder.pkl', 'rb') as file_3:
  model_encoder = pickle.load(file_3)

with open('scaler.pkl', 'rb') as file_4:
  model_scaler = pickle.load(file_4)

with open('model_lin_reg.pkl', 'rb') as file_5:
  model_lin_reg = pickle.load(file_5)

# **III. Data Inference**

In [3]:

data_inf = {'area': 'BSD City',
             'city':' Tangerang',
             'lattitude': -6.3007333,
             'longitude': 106.586126,
             'property_type':'rumah',
             'bedrooms':3,
             'bathrooms':2,
             'land_area':181,
             'building_area':182,
             'floors':2,
             'maid_bedrooms':1,
             'maid_bathrooms':1,
             'certificate': 'shm - sertifikat hak milik',
             'voltage': 5500,
             'building_age':1,
             'year':2021,
             'condition':'baru',
             'garage':1,
             'carport':1
}


data_inf = pd.DataFrame([data_inf])
data_inf

,area,city,lattitude,longitude,property_type,bedrooms,bathrooms,land_area,building_area,floors,maid_bedrooms,maid_bathrooms,certificate,voltage,building_age,year,condition,garage,carport
0,BSD City,Tangerang,-6.300733,106.586126,rumah,3,2,181,182,2,1,1,shm - sertifikat hak milik,5500,1,2021,baru,1,1

### Split Numerical  and Categorical

In [4]:
#split between numerical and categorical columns
data_inf_num = data_inf[list_num_col]
data_inf_cat = data_inf[list_cat_col]

#tampilkan tabel numerik
data_inf_num

,bedrooms,land_area,building_area,floors,maid_bedrooms,maid_bathrooms,voltage,building_age
0,3,181,182,2,1,1,5500,1

### Feature Scaling & Encoding

In [5]:
#feature scaling and encoding
data_inf_cat_encoded = model_encoder.transform(data_inf_cat)
data_inf_num_scaled = model_scaler.transform(data_inf_num)

#reshape data kategorikal dari 1d menjadi 2d
data_inf_cat_encoded = data_inf_cat_encoded.reshape(-1, 1)
data_inf_final = np.concatenate([data_inf_num_scaled, data_inf_cat_encoded], axis = 1)

### Predict Using Linear Regresion Model

In [6]:
#predict using linear reg model
y_pred_inf = model_lin_reg.predict(data_inf_final)
y_pred_inf

array([4.15886961e+09])

In [7]:
# Nilai estimated price
estimated_price = 4.15886961e+09

# Format menjadi lebih mudah dibaca, tanpa menggunakan notasi ilmiah
estimated_price_formatted = "{:,.0f}".format(estimated_price)

# Menampilkan harga dalam format yang lebih mudah dipahami
print(f'estimasi harga rumah yang diminati bapak selamet: Rp.{estimated_price_formatted}')

estimasi harga rumah yang diminati bapak selamet: Rp.4,158,869,610